.testing{
    background-color: black;
}



.grid{
    display: grid;
    grid-template-rows: 30vh;
    grid-template-columns: 30vw;
    gap: 1%;
}

.flex-col-start-center{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.flex-row-center-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-row-spacearound-center{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.base-size{
    min-height: 80vh;
    width: 100vw;

}

.max-width{
    width: 100vw;
}

.small-long-div{
    width: 60vw;
}

#search-txt-box{
    margin-top: 1vh;
    display: inline;
    width: 20vw;
    height: 6vh;
    font-size: 4vh;
    padding: 0.3vw;
    border: 0.2vh solid #9E00EE;
    margin-right: 1vw;
    border-radius: 25px;
}

.list-box-top-margin{
    
    margin-top: 3vh;
}

.game-box{
    width: 20vw;
    text-align: center;
}

.game-title{
    font-size: 3vh;
}

.bar-container {
    width: 30%;
    height: 1vh;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    margin-right: 0.2vw;
}

.block-rating{
    width: 80%;
}

.bar{
    height: 1vh; 
    background-color: #9E00EE;
}

.icon-size{
    width: 100%;
    height: 40vh;
}

.image-fit-contain{
    object-fit: cover;
}

.no-txt-underline{
    text-decoration: none;

}

.grid-4-col{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.gap-1vh{
    gap: 1vh;
}

.margin-left-2vw{
    margin-left: 2vw;
}