body,html {
    margin:0;
    padding:0;
}  
#header-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30%;
    background-image: linear-gradient(to right, rgba(167,129,255,1) 25%, rgba(176,109,228,1) 50%, rgba(237,212,255,1));
    padding-left: 1vw;
    text-align: left;
    align-items: center;
}
#footer{
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 5%;
}
.header-option{
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.header-item{
    padding: 2%;


}
.header-item:last-child{
    margin-left: 3vw;
}
.header-item-option{
    color: white;
    font-size: 120%;
}

.header-item-not-button{
    border: none;
}
.header-item-not-button:hover{
    border-top: 0.2vh solid white;
    /*background-image: radial-gradient(circle, rgba(255,255,255,0.2) 40%, rgba(255,255,255,0));*/
}
#header-title-text{
    flex-basis: 20%;
    font-size: 2.5vh;
    float: left;
    color: white;
    padding: 1%;
}
#header-login-button{
    float: right;
    background-color: white;
    border-radius: 2vh;
    font-size: 1.5vh;
    font-weight: bold;
    border: none;
    color: rgba(130,92,159,1);
    width: 6vw;
    height: 4vh;
}
#header-login-button:hover{
    background-color: rgba(176,109,228,1);
    color: white;

}
.div-section1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(to right, rgba(167,129,255,1) 25%, rgba(176,109,228,1) 50%, rgba(237,212,255,1));
}

.flexbox-item1{
    flex-basis: 25%;
    width: 20vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10%;
}
.title1{
    word-wrap: break-word;
    color: white;
    font-size: 120%;
    width: 90%;
    height: 50%;
}
.flexbox-item2{
    flex-basis: 30%;
    width: 20vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-start;
}
.image-icon1{
    width: 25vw;
    height: 50vh;
    transform: rotate(-40deg);
}
.search-bar{
    display: flex;
    width: 80%;
    height: 80%;
    background-color: white;
    padding: 3%;
    font-size: 120%;
    border-radius: 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.upload-game-btn{
    width: 50%;
    height: 10%;
    background-color: white;
    color: rgba(176,109,228,1);
    font-weight: bold;
    border-radius: 25px;
    border: none;
}
.upload-game-btn:hover{
    background-color: rgba(176,109,228,1);
    color: white;
}
.search-game-btn{
    width: 5vw;
    height: 5vh;
    background-color: rgba(176,109,228,1);
    color: white;
    font-weight: bold;
    border-radius: 25px;
    border: none;
}
.search-game-btn:hover{
    background-color: white;
    color: rgba(176,109,228,1);
}
input[type=text]{
    width: 70%;
    padding: 3% 3%;
    line-height: 5%;
    border: none;
    transition: all 100ms;
}

input[type=text]:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(176,109,228,1);
}
.search-bar-button{
    height: 100%;
    width: 25%;
    border-radius: 25px;
    background-color: rgba(167,129,255,1);
    color: white;
    border: none;
}

.div-section2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: white;
}

.header2{
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 300%;
    font-weight: bold;
    
}

.game-des-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.game-icon1{
    width: 25%;
    height: 70%;
    margin-right: 1%;
}

.des1{
    margin-left: 1%;
    width: 20%;
    font-size: 100%;
    font-weight: normal;
    text-align: justify;
    text-justify: auto;
    color: rgba(176,109,228,1);
}

.div-section3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 60vh;
}

.div-flex3-child1{
    flex-basis: 50%;
    background-color: rgba(255,112,194,1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-flex3-child2{
    flex-basis: 50%;
    background-color: rgba(210,84,255,1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title2{
    font-size: 200%;
    color: white;
    font-weight: bold;
}

.text1{
    color: white;
}

.game-image1{
    width: 65%;
    height: 60%;
}

.div-section4{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 60vh;
    background-color: rgba(63,63,63,1);
}

.header-topmargin{
    margin-top: 2%;
}

.platform{
    width: 80%;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-a-element{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.no-txt-wrap{
    overflow:hidden;
    white-space:nowrap;
}