body,
html {
    height: 100%;
    margin: 0;
}

#bg {
    background-image: url("https://cdn.pixabay.com/photo/2020/03/22/06/57/game-background-4956017_960_720.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.body-container {
    margin: auto;
    margin-top: 5%;
    width: 70%;
    height: 80%;
    background-color: white;
}

#title {
    text-align: center;
}

.type {
    margin-bottom: 20px;
    text-align: center;
}


label {
    text-align: left;
    margin-bottom: 10%;
    font-weight: bold;
}

input[type=text], input[type="password"] {
    width: 20vw;
    margin-bottom: 10%;
    border: none;
    border-bottom: 0.3vh solid rgba(237,212,255,1);
    height: 4vh;
    font-size: 16pt;
}

input[type=submit] {
    box-sizing:border-box;
    width: 120%;
    padding: 2%;
    margin: auto;
}

a {
    margin-top: 20px;
    margin-bottom: 20px;
}


.submit-button {
    border-radius: 25px;
    border: none;
    width: 15vw;
    height: 5vh;
    background-image: linear-gradient(to right, rgba(167,129,255,1), rgba(176,109,228,1));
    color: white;
}

.error-msg{
    color: red;
    margin-left: 10px;
}

.flex-box-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.flex-box-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.flex-element{
    flex-basis: 50%;
    height: 100%;
}

.flex-element-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.second-box-bg{
    background-color: red;
    background-image: linear-gradient(rgba(167,129,255,1), rgba(176,109,228,1));
}

.back-btn{
    margin-top: 5vh;
    margin-left: 4vw;
    width: 24.5vw;
    height: 5vh;
    border: none;
    border-radius: 25px;
    background-color: rgb(0, 255, 205);
    color: white;
    font-weight: bolder;
}



.other-option-text-col{
    color: white;
}

.other-option-header{
    font-size: 170%;
    font-weight: bold;
}

.other-option-btn{
    margin-top: 5%;
    width: 40%;
    height: 7%;
    background-color: rgb(102, 0, 255);
    border: none;
    border-radius: 25px;
    color: white;
}

select{
    border: 1% solid rgb(102, 0, 255);
    border-color: rgb(102, 0, 255);
    width: 50%;
    height: 10%;
    margin-bottom: 5%;

}